
.Titulos{
    font-size: 30px;
    color: black;
    margin-top:5px;
    margin-left: 5px;
  }
  .titulo2{
    font-size: 10px;
    color: black;
    margin-top:5px;
    margin-left: 5px;
    float: left;
    width: 30%;
 text-align: center;
  }
  .pie{
   padding-bottom: 0%;
    text-align: center;
    float: center;
    
  }
  .box {
    border: black 2px solid;
    align-content: center;
    font-weight: 600;
  }


  #articulo1{
    align-content: center;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    color: black;
  }
  #articulo2{
    align-content: center;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;

    color: black;
  }
  #articulo3{
    align-content: center;
    margin-top: 20px;
    margin-left: 30%;
    margin-right: 30%;
    height: 120px;
    color: black;
  }