<!doctype html>
<html lang="es">
<head >
  <title>Pag1</title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="app.component.css"/>
</head>
<body class="gridcont">
<section class="box" id="articulo1">  <h1 class="Titulos"> {{ title }}    </h1> 
<p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste voluptate ipsum voluptas veritatis ab culpa beatae quos nesciunt minima temporibus.</section>
<section class="box" id ="articulo2"> <u class="Titulos"> {{ idea }}    </u> 
<p>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut dicta consequatur expedita vitae harum tenetur non magni repellat quos deserunt, qui ipsa itaque aspernatur voluptatibus vero exercitationem, eligendi ad amet. </p>
</section>
<section class= "box" id ="articulo3">  <u class="Titulos"> {{ idea2}}    </u> 
 <p>   Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt assumenda ratione laudantium maxime veritatis quasi obcaecati. Nulla autem totam eligendi. </p>
</section>
<div class="titulo2"> <strong> heading </strong>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi, itaque!</p>
<button name="button">Click me</button> </div>
<div class="titulo2"> <strong> heading </strong>
<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui, illo?</p>
<button name="button">Click me</button> </div>
<div class="titulo2" ><strong> heading </strong>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, fuga?</p>
<button name="button">Click me</button></div>
  <footer class="pie">
    <p>Copyright &copy; 1990-2014 Peter Doe, todos los derechos reservados.</p>

  </footer>
</body>
 </html>